[submodule "projects/thebeambook/upstream"]
	path = projects/thebeambook/upstream
	url = https://github.com/happi/theBeamBook.git
	shallow = true
[submodule "projects/pypy/upstream"]
	path = projects/pypy/upstream
	url = https://github.com/pypy/pypy.git
	shallow = true
