[submodule "projects/thebeambook/upstream"]
	path = projects/thebeambook/upstream
	url = https://github.com/happi/theBeamBook.git
	shallow = true
[submodule "projects/pypy/upstream"]
	path = projects/pypy/upstream
	url = https://github.com/pypy/pypy.git
	shallow = true
[submodule "projects/fp-lean/upstream"]
	path = projects/fp-lean/upstream
	url = https://github.com/leanprover/fp-lean.git
	shallow = true
[submodule "projects/napkin/upstream"]
	path = projects/napkin/upstream
	url = https://github.com/vEnhance/napkin.git
